@import "tailwindcss";


@theme {
      --breakpoint-xs: 540px;
      --breakpoint-sm: 640px;
      --breakpoint-md: 850px;
      --breakpoint-lg: 1000px;
      --breakpoint-xl: 1200px;
      --breakpoint-2xl: 1400px;
      --color-white:#ffffff;
      --color-offWhite:#f6f6f6;
      --color-black:#000000;
      --color-gray:#cccccc;
      --color-darkGray:#6f6f6f;
      --spacing: 4px; 
}

/* Lenis */
html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: clip;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.embedStage iframe{
  width:100%;
  height:auto;
  aspect-ratio: 16/9;
}


.noControl mux-player {
	/* Hide all controls at once */
	--controls: none;
  }

  .galleryFull img {max-width:unset;}

  
mux-player{
  clip-path: inset(2px 2px);
}
  
.bgMux mux-player{
  --controls: none;
  --media-object-fit: cover;
  position: absolute;
  width: calc(100% + 1px);
  height:calc(100% + 1px);
}

.containH mux-player{
  
  width:auto;
  height:100%;
}
.containW mux-player{
  
  width:100%;
  height:auto;
}

.center-object{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);

}

mux-player {
  

  /* Target all sections by excluding the section prefix */
  
  --live-button: none;
  --seek-backward-button: none;
  --seek-forward-button: none;
  --mute-button: none;
  
  --pip-button: none;
  --playback-rate-button: none;
  --rendition-menu-button: none;
    clip-path: inset(0 0);

}
.workStage mux-player{
   clip-path: inset(1px 1px);
   -webkit-clip-path: inset(1px 1px);
}



*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}



@font-face {
	font-family: 'sans';
	src: url('/fonts/sans.woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'sans';
	src: url('/fonts/sans-medium.woff');
	font-weight: 600;
	font-style: normal;
}


@font-face {
	font-family: 'sans';
	src: url('/fonts/sans-bold.woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'sans';
	src: url('/fonts/sans-italics.woff');
	font-weight: 500;
	font-style: italic;
}
@font-face {
	font-family: 'sans';
	src: url('/fonts/sans-italics-med.woff');
	font-weight: 600;
	font-style: italic;
}


@font-face {
	font-family: 'serif';
	src: url('/fonts/serif.woff');
	font-weight: 400;
	font-style: normal;
}
body{
  font-family: 'sans',arial, sans-serif;
  font-size:1em;
  line-height: 1.06em;
  background-color: var(--color-white);
  transition: all .45s ease-in-out;
  text-box: trim-both cap alphabetic;
}


p{  font-size:1.875rem;  line-height: 1.06em;}

h1,h5{font-size:2.875rem;line-height:1.03em;letter-spacing: -0.02em;text-box: trim-both cap alphabetic;}
h2{font-size:7.25rem;line-height:.88em;letter-spacing: -.05em;text-box: trim-both cap alphabetic;}
h3{font-size:3.125rem;line-height:.93em;letter-spacing: -.05em;text-box: trim-both cap alphabetic;}
.footer h3{font-size: 50pt;}
h4{font-family: "didot",'Times New Roman', Times, serif;font-size:3.755rem;line-height:.82em;letter-spacing: -2.5px;text-box: trim-both cap alphabetic;}
.divide h3{font-size:4.625rem;letter-spacing: -.05em;text-box: trim-both cap alphabetic;margin-bottom: 74px;}

.navBar p{
  font-size:1.25rem;text-box: trim-both cap alphabetic;
}

.menu p{
  font-size:3rem;
  letter-spacing: -.03em;
  line-height: .73em;
  text-box: trim-both cap alphabetic;
  
}

.subMenu{
  font-size:2.25rem;
  letter-spacing: -.03em;
  line-height: 1.45em;
  text-box: trim-both cap alphabetic;
}

.p2 p{
  font-size:1.5rem;
  line-height: 1.05em;
  letter-spacing: -0.02em;
}

p.langOption{
  font-family: "didot",'Times New Roman', Times, serif;
  font-size: .75rem;
  text-box: trim-both cap alphabetic;
}

.label, .label p, label{
  font-size: 1rem;


}

.cta p, .caption p{
   font-size: .75rem;
   text-box: trim-both cap alphabetic;

}

.menuText p em{
  font-family: 'serif','Times New Roman', Times, serif;
  font-size:1.25rem;
  letter-spacing:-.36px;
font-style: italic;
text-box: trim-both cap alphabetic;
}

.navContact p{
  font-size:.875rem;
  line-height: 1em;
  letter-spacing: .01em;
  text-box: trim-both cap alphabetic;
}

.footnote p{
color: #000000cc;
font-family: 'serif','Times New Roman', Times, serif;
font-size: .75rem;
letter-spacing:-.36px;
font-style: italic;

}

.policies p{
  font-family: "helvetica neue",Arial, Helvetica, sans-serif;
  font-style: normal;
  
}

.copyright p{
  font-size: .5625rem;

}

.legal p{
  font-size: .4375rem;
  line-height: 1.09em;
}

.mapPoints p{
  font-size:.8125rem;
  line-height: 1.13em;

}

.planNumber p{
  font-size:45pt;
}
.planTitle p{
  font-size:27pt;
}

.footerContact p{
  font-size:1.1875rem;
  text-box: trim-both cap alphabetic;
}

/* captions */
.credits p, .credits{
 font-family: 'Times New Roman', Times, serif;
  font-size: .6725rem;
  text-box: trim-both cap alphabetic;
}

.downloadBar p{
  font-size: 0.875rem;
  font-weight: 700;
  text-box: trim-both cap alphabetic;
}

/* CTAs */
.cta {
  border-radius: 9999px;
  border-width: 1px;
  display: inline-flex;
  width:auto;
  height:40px;
  padding: 0 calc(var(--spacing) * 5);
  background-color: rgba(255,255,255,0);
  text-transform: uppercase;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  transition: all 750ms ease-out;
  cursor:pointer;
  text-box: trim-both cap alphabetic;
}

.cta.inverted:hover{
  background-color: rgba(255,255,255,1);
    color:rgba(0,0,0,1);
}

.cta.secondary{
   background-color: rgba(0,0,0,1);
   color:#fff;
}


.cta.secondary:hover{
  background-color: rgba(255,255,255,1);
    color:rgba(0,0,0,1);
}
.singlePoint.hide{
  opacity:0;
  pointer-events: none;
}
.keyList.hide, .keyHold.dim .keyList{
  opacity:.25;

}



.cta:hover, .filter.active, .singlePoint:hover, .singlePoint.highlight {
  background-color: rgba(0,0,0,1);
  color:rgba(255,255,255,1);
  opacity:1;
  z-index: 900;

}

.mapPoints{
  transition: all ease-out 750ms;
}


.keyList:hover,.keyList.highlight{
  font-weight: bold !important;
  color:#000000;
  opacity: 1 !important;
}


/* credits */
.creditHold{
  opacity: 0;
  transition: opacity 750ms ease-out;
}

.creditHold.show{
  opacity: 1;
}


/* inputs */
input {height:20px}


/* gallery */
/* .galleryImage{
  transition: transform .75s ease-in-out;
} */

.galleryImage.static{
  transition: none;
}

.galleryB {
  transition: opacity .75s ease-in-out;
}

/* floorplan */
.floorList.hide{
  opacity:.15;
}

/* menu */
.blur{
background: rgba(95, 95, 95, 0.04);
backdrop-filter: blur(150px);
}