@import "tailwindcss";


@theme {
      --breakpoint-xs: 540px;
      --breakpoint-sm: 640px;
      --breakpoint-md: 850px;
      --breakpoint-lg: 1000px;
      --breakpoint-xl: 1200px;
      --breakpoint-2xl: 1400px;
      --color-white:#ffffff;
      --color-offWhite:#f6f6f6;
      --color-black:#000000;
      --color-gray:#cccccc;
      --color-medGray:#e5e5e5;
      --color-darkGray:#6f6f6f;
      --spacing: 4px; 
}

/* Lenis */
html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: clip;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.embedStage iframe{
  width:100%;
  height:auto;
  aspect-ratio: 16/9;
}


.noControl mux-player {
	/* Hide all controls at once */
	--controls: none;
  }

  .galleryFull img {max-width:unset;}

  
mux-player{
  clip-path: inset(2px 2px);
  transition: opacity .45s ease-in-out;
}
  
.bgMux mux-player{
  --controls: none;
  --media-object-fit: cover;
  position: absolute;
  width: calc(100% + 1px);
  height:calc(100% + 1px);
}

.containH mux-player{
  
  width:auto;
  height:100%;
}
.containW mux-player{
  
  width:100%;
  height:auto;
}

.center-object{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);

}

mux-player {
  

  /* Target all sections by excluding the section prefix */
  
  --live-button: none;
  --seek-backward-button: none;
  --seek-forward-button: none;
  --mute-button: none;
  
  --pip-button: none;
  --playback-rate-button: none;
  --rendition-menu-button: none;
    clip-path: inset(0 0);

}
.workStage mux-player{
   clip-path: inset(1px 1px);
   -webkit-clip-path: inset(1px 1px);
}



*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}



@font-face {
	font-family: 'sans';
	src: url('/fonts/sans.woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'sans';
	src: url('/fonts/sans-medium.woff2');
	font-weight: 500;
	font-style: normal;
}


@font-face {
	font-family: 'sans';
	src: url('/fonts/sans-bold.woff2');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'sans';
	src: url('/fonts/sans-italics.woff');
	font-weight: 500;
	font-style: italic;
}
@font-face {
	font-family: 'sans';
	src: url('/fonts/sans-italics-med.woff');
	font-weight: 600;
	font-style: italic;
}


@font-face {
	font-family: 'serif';
	src: url('/fonts/didot.woff');
	font-weight: 400;
	font-style: normal;
}


@font-face {
	font-family: 'serif';
	src: url('/fonts/serif-italic.woff2');
	font-weight: 400;
	font-style: italic;
}

body{
  font-family: 'sans',Arial, Helvetica, sans-serif;
  font-size:1em;
  line-height: 1.06em;
  background-color: var(--color-white);
  transition: all .45s ease-in-out;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; /* For Firefox */
 text-rendering: optimizeLegibility;
}


p,li{  font-size:1.875rem;  line-height: 1.06em;}
p em{font-family: "serif",'Times New Roman', Times, serif;}
.listItem p{line-height: 1.45em;}
.richText p{
  margin-bottom:22px
}
.richText p:last-child{
  margin-bottom:0;
}
.richText a{
  text-decoration: underline;
}


h1,h5{font-size:2.875rem;line-height:1.03em;letter-spacing: -0.02em;text-box: trim-both cap alphabetic;}
h2{font-size:7.25rem;line-height:.88em;letter-spacing: -.05em;text-box: trim-both cap alphabetic;}
h2.serif{font-family: "serif",'Times New Roman', Times, serif;font-size:3.75rem;line-height:.9em;letter-spacing: -2.5px;text-box: trim-both cap alphabetic;}
h2.loader{font-size:12rem}
h3{font-size:3.125rem;line-height:.93em;letter-spacing: -.05em;text-box: trim-both cap alphabetic;}
.footer h3{font-size: 50pt;}
h3.serif{font-family: "serif",'Times New Roman', Times, serif;font-size:6.25rem;line-height:.9em;letter-spacing: -2.5px;text-box: trim-both cap alphabetic;}
h4.serif{font-family: "serif",'Times New Roman', Times, serif;font-size:2.4375rem;line-height:.9em;letter-spacing: -2.5px;text-box: trim-both cap alphabetic;font-style: italic;}
.divide h3{font-size:4.625rem;letter-spacing: -.05em;text-box: trim-both cap alphabetic;margin-bottom: 74px;}

.divide h3:last-child{margin-bottom:0}
.navBar p{
  font-size:1.25rem;text-box: trim-both cap alphabetic;
}

.cipres h4{
  font-size:3.6875em;
  line-height: .94em;
  letter-spacing: -.04em;
}


.menu p{
  font-size:3rem;
  letter-spacing: -.03em;
  line-height: .73em;
  text-box: trim-both cap alphabetic;
  
}

li{
  list-style-type: disc;
  list-style-position: inside;

}
li:before {
    content: "";
    margin-left: -0.7em;
}

.subMenu{
  font-size:2.25rem;
  letter-spacing: -.03em;
  line-height: 1.45em;
  text-box: trim-both cap alphabetic;
}
.cipres p{
  font-size: 2.3125em;
  letter-spacing: -.03em;
  line-height: .82em;
  text-box: trim-both cap alphabetic;
}


.p2 p{
  font-size:1.5rem;
  line-height: 1.05em;
  letter-spacing: -0.02em;
}

.p3 p{
  font-size:1.06rem;
  line-height:1.05em;
  letter-spacing: -0.01em;
}

p.langOption{
  font-family: "serif",'Times New Roman', Times, serif;
  font-size: .75rem;
  text-box: trim-both cap alphabetic;
}

.label, .label p, label{
  font-size: 1rem;


}

.cta p {
   font-size: .75rem;
   text-rendering: optimizeLegibility;
   text-box: trim-both cap alphabetic;

}

.captions p {
   font-size: 0.93755rem;
   text-rendering: optimizeLegibility;
   letter-spacing: -0.03em;
   text-box: trim-both cap alphabetic;

}

.menuText p em{
  font-family: 'serif','Times New Roman', Times, serif;
  font-size:1.25rem;
  letter-spacing:-.36px;
font-style: italic;
text-box: trim-both cap alphabetic;
}

.navContact p{
  font-size:.875rem;
  line-height: 1em;
  letter-spacing: .01em;
  text-box: trim-both cap alphabetic;
}

.footnote p{
color: #000000cc;
font-family: 'serif','Times New Roman', Times, serif;
font-size: .9375rem;
letter-spacing:-.36px;
font-style: italic;

}

.menunote p{
color: #000000cc;
font-family: 'serif','Times New Roman', Times, serif;
font-size: 1rem;
letter-spacing:-.36px;
font-style: italic;

}

.policies p{
  font-family: "helvetica neue",Arial, Helvetica, sans-serif;
  font-style: normal;
  
}

.copyright p{
  font-size: .5625rem;

}

.legal p{
  font-size: .4375rem;
  line-height: 1.09em;
}

.mapPoints p{

  line-height: 1.17em;
  letter-spacing: .01em;

}

.planNumber p{
  font-size:45pt;
}
.planTitle p{
  font-size:27pt;
}

.footerContact p{
  font-size:1.1875rem;
  text-box: trim-both cap alphabetic;
}

.galleryD p{
  font-size:1.12rem;
  line-height:1.12em;
  letter-spacing: -0.03em;
}

/* captions */
.captions p, .captions p{
 font-family: "sans",Arial, Helvetica, sans-serif;
  font-size: .9375rem;
  text-box: trim-both cap alphabetic;
}
.credits p, .credits{
 font-family: "serif",'Times New Roman', Times, serif;
  font-size: .6725rem;
  text-box: trim-both cap alphabetic;
}

.creditsHold{
  opacity: 0;
  transition: opacity .25s ease-in-out;
}

.creditsOn:hover .creditsHold{
  opacity:1;
}



.downloadBar p{
  font-size: 0.875rem;
  font-weight: 700;
  text-box: trim-both cap alphabetic;
}

.sheets h3{
  font-size:3.625rem;
  line-height: .82em;
  letter-spacing: -.02em;
}

.resource p{
  font-size:1.1875rem;
  line-height: 1.11em;
  letter-spacing: -0.03em;
}

/* CTAs */
.cta {
  border-radius: 9999px;
  border-width: 1px;
  display: inline-flex;
  width:auto;
  height:40px;
  padding: 0 calc(var(--spacing) * 5);
  background-color: rgba(0,0,0,0);
  border-color: #000000;
  text-transform: uppercase;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  transition: all 300ms ease-out;
  cursor:pointer;
  text-box: trim-both cap alphabetic;
}

.cta.inverted{
   border-color: #ffffff;
    background-color: rgba(255,255,255,0);
}

.cta.filter{
    padding: 0 10px;
    height:20px;
}

.cta.inverted:hover{
  background-color: rgba(255,255,255,1);
    color:rgba(0,0,0,1);
}

.cta:hover{
  background-color: rgba(0,0,0,1);
    color:rgba(255,255,255,1);
}

.cta.secondary{
   background-color: rgba(0,0,0,1);
   color:#fff;
}


.cta.secondary:hover{
  background-color: rgba(255,255,255,1);
    color:rgba(0,0,0,1);
}
.singlePoint.hide{
  opacity:0;
  pointer-events: none;
}
.keyList.hide, .keyHold.dim .keyList{
  opacity:.25;

}



.cta:hover, .filter.active, .singlePoint:hover, .singlePoint.highlight {
  background-color: rgba(0,0,0,1);
  color:rgba(255,255,255,1);
  opacity:1;
  z-index: 900;

}

.cta-sub{
  transform: all .5s ease-in-out;
}

.cta-sub:hover{
  color:#000000;
}

.nextArrow{
  transform: translateX(100%);
  opacity: 0;
  transition: all .5s ease-in-out;
}

.cta-sub:hover .nextArrow{
    transform: translateX(200%);
  opacity: 1;
}

.mapPoints{
  transition: all ease-out 750ms;
}


.keyList:hover,.keyList.highlight{
  font-weight: bold !important;
  color:#000000;
  opacity: 1 !important;
}


/* credits */
.creditHold{
  opacity: 0;
  transition: opacity 750ms ease-out;
}

.creditHold.show{
  opacity: 1;
}


/* inputs */
input {height:20px}


/* gallery */
.galleryImage{
  transition: transform .75s ease-in-out;
}

.galleryImage.static{
  z-index: 0;
 
}

.galleryScroll{
 transition: transform .75s cubic-bezier(0.19, 1, 0.22, 1);
}

.galleryScroll.disable{
  transition:none;
}

.galleryFade{
  transition: opacity .5s ease-in-out;
}

.galleryB {
  transition: opacity .75s ease-in-out;
}

.galleryDot{
  transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275) ;
}

/* floorplan */
.floorList.hide{
  opacity:.15;
}

/* menu */
.blur{
background-color: rgba(95, 95, 95, 0.04);
backdrop-filter: blur(150px) opacity(0);
transition: all .5s ease-in-out;
transition-delay: .25;
opacity: 0;
}

.blur.active{
backdrop-filter: blur(150px) opacity(1);
opacity:1;
}

.mainMenu{
 transition:  opacity .5s ease-in-out;
}
.navItem p{
  display: inline-block;
  position:relative;
}
.navBar,.singleBar {
  transition: all .5s ease-in-out;
}
.navItem p::after{
  content:'';
  position:absolute;
  bottom:0;
  left:0;
  background-color: #ffffff;
  width:100%;
  height:1px;
  max-width:0;
  transform: translateY(8px);
  transition: all .75s ease-in-out;
}

/* hovers */

.navItem:hover p::after{
  max-width: 900px;
}


.onHover{
  opacity: 0;
  pointer-events:none;
  transition:opacity .25s ease-in-out;
}

.hoverOn:hover .onHover{
  opacity: 1;
}
.onHoverBorder::after{
  content: '';
  position: absolute;
  pointer-events:none;
  height: 1px;
  width:100%;
  background-color: black;
  bottom:0;
  left:0;
  opacity:0
}
.onHoverBorder::before{
  content: '';
  position: absolute;
  pointer-events:none;
  height: 1px;
  width:100%;
  background-color: black;
  top:0;
  left:0;
  opacity:0
}

.hoverOn:hover .onHoverBorder::after, .hoverOn:hover .onHoverBorder::before{
  opacity: 1;
}

.mediaGrow{
  transition: transform 1s ease-in-out;
}

.hoverRight {
  transform:translateX(0);
  transition: transform cubic-bezier(0.175, 0.885, 0.32, 1.275) .75s;
}

.hoverOn:hover .hoverRight{
  transform:translateX(50px)
}

.hoverList{
  background-color: var(--color-offWhite);
  color: inherit;
  transition:all .9s ease-out;
}

.hoverOn.hoverList:hover{
   background-color: var(--color-black);

  color: white;
}

.nameHold{
  transition: all .4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hoverOn.hoverList:hover .nameHold{
transform: translateX(76px);
}

.listLabel{
transition:all .5s cubic-bezier(0.165, 0.84, 0.44, 1);
transform:translateX(0);
}

.listOn:hover .listLabel, .listOn.show .listLabel{
  transform:translateX(60px);
}

.listItem{
  max-height: 0;
  opacity:0;
  transition:all .5s ease-in-out;
}

.listItem.show{
  max-height: 1000px;
  opacity:1;
  transition:all .5s ease-in-out;
}


/* animation */
.fadeOn{
    opacity:0;
    animation: fadeOn 1s ease-out forwards;
}

.loaderIn{
    opacity:0;
    animation: loaderIn 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}



.fadeOut .loaderIn{
    opacity:1;
    transform:translateX(0px);

    animation: loaderOut 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}


.loader{
  transition: .5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

  @keyframes fadeOn {
    0% {
      opacity:0;
    }
    100%{
    opacity:1;
    }
  }


    @keyframes loaderIn {
    0% {
      opacity:0;
      transform:translateX(20px)
    }
    
    100%{
    opacity:1;
     transform:translateX(0px)
    }
  }

  
    @keyframes loaderOut {
    0% {
      opacity:1;
 
    }
    
    100%{
    opacity:0;

    }
  }
